<h2>Create celebrity</h2>

<form action='/celebrities' method='POST'>
  <label for='input-name'></label>
  <input type='input-name' name='name' placeholder='Name' />

  <label for='input-occupation'>Occupation</label>
  <input type='input-occupation' name='noccupation' placeholder='Occupation' />

  <label for='input-catchPhrase'>Catchphrase</label>
  <input
    type='input-catchPhrase'
    name='catchphrase'
    placeholder='Catchphrase'
  />

  <button>Create Celebrity</button>

</form>